@import "../../styles/mixins"
.inventory
	padding: 10px
.container
	display: flex
	flex-wrap: wrap
.item
	min-width: 100px
	min-height: 100px
	position: relative
	@include border
.name
	background: white
	position: absolute
	left: 5px
	bottom: 5px
.count
	position: absolute
	right: 5px
	bottom: 5px