
@import "../../styles/mixins"
@import "../topbar/topbar.module"
@import "../util/util.module"

.container
	display: flex


.comments
	width: 100%
	height: 100%
	position: sticky
	@include border
	height: calc(100vh - $topbar-height)
	top: $topbar-height
	display: flex
	flex-direction: column
	.comments_container
		width: 100%
		height: 100%
		.box
			padding: 0px 5px
			background: var(--color-comment)
			position: relative
			.actions
				position: absolute
				top: 0px
				right: 0px
				display: none
			&:hover
				background: var(--color-comment-hover)
				.actions
					display: block
			.author
				display: flex
				height: 25px
				font-size: 20px
				div
					margin-left: 5px
				@include avatar()
					position: absolute
			
		.content
			margin-left: 35px

.post[data-expanded=true]
	.content
		max-height: unset
	.show_more
		display: block

.post
	padding: 7px
	@include border
	margin-bottom: 10px
	width: 100%
	min-width: 500px
	max-width: 700px
	border-radius: 5px
	word-wrap: break-word
	white-space: pre-wrap
	background-color: var(--color-post-background)
	.content
		max-height: 100px
		overflow: hidden
		position: relative
		.overflow_gradient
			display: none
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 50px
			background: linear-gradient(to bottom, rgb(0, 0, 0, 0) 0%, var(--color-post-background) 100%)
		
	.show_more
		display: none
		
	.content[data-truncated=true]
		~ .show_more
			display: block
		.overflow_gradient
			display: block

	button
		padding: 5px
		border: none
		background-color: var(--color-topbar-button)
		margin: 0 5px
		svg 
			color: orange
	.post_topbar
		display: flex
		align-items: center
		height: 30px
		font-size: 20px
		.action_bar
			width: 100%
			display: flex
			justify-content: right

.post[data-deleting=true]
	opacity: 0.5