.topbar
	position: sticky
	height: 50px
	top: 0
	left: 0
	right: 0
	z-index: 1
	background-color: var(--color-topbar)
	display: flex
	padding: 5px 5px
	button
		margin: 5px 5px
		border: none
		background-color: var(--color-topbar-button)
	
	button:hover
		background-color: var(--color-topbar-button-hover)
