@import "../../util/util.module"

.accountSelection
	position: relative
	margin: 0px
	display: flex

	.button
		padding: 5px
		div
			margin: 5px
		align-items: center
		font-size: 20px
		display: flex
		border-radius: 5px
		height: 40px
		margin: 0px
	.inner
		background: var(--color-account-selection-interface)
		position: absolute
		top: 50px
		right: 0px
		width: 200px
		border-radius: 5px
		transition: opacity .3s
		padding-top: 5px
		button
			padding: 5px
		button:not(.remove) > svg, button > img
			margin: 0px 5px
	
		.accountSelectionItem
			display: flex
			align-items: center
			button:not(.remove)
				align-items: center
				display: flex
				width: 100%
			.remove
				position: absolute
				right: 15px
				width: 20px
				height: 20px
			.imgContainer
				margin-right: 10px
				width: 30px
				height: 30px
		> button, .accountSelectionItem
			text-align: left
			margin: 0px 5px 5px 5px
			width: calc(100% - 10px)
		> button
			padding: 5px
	.inner[data-visible=true]
		opacity: 1
		pointer-events: all
	.inner[data-visible=false]
		opacity: 0
		pointer-events: none