@mixin generator($c0,$c1,$c2,$ct,$cb)
	--color-sidebar: #{$c0}
	--color-topbar: #{$c1}
	--color-topbar-button: #{$c1}
	--color-topbar-button-hover: #{$c0}
	--color-account-selection-interface: #{$c1}
	--color-post: #{$c0}
	--color-post-preview: #{$c0}
	--color-post-preview-hover: #{$c1}
	--color-comment-hover: #{$c0}
	--color-comment: #{$c0}
	--color-background: #{$c0}
	--color-text: #{$ct}
	--color-button: #{$c2}
	--color-input: #{$c2}
	--color-select: #{$c2}
	--color-modal: #{$c0}
	--color-modal-header: #{$c1}
	--color-sidebar-button: #{$c0}
	--color-sidebar-button-hover: #{$c1}
	--color-context-menu: #{$c1}
	--color-context-menu-button: #{$c1}
	--color-context-menu-button-hover: #{$c0}
	--color-select-hover: #{$c1}
	--color-border: #{$cb}

@mixin dark
	@include generator(#1a1a1a, #2a2a2a, #444, #fff, #666)
	--color-accent: cyan

@mixin light
	@include generator(#ffffff, #f5f5f5, #eee, #000, #ccc)
	--color-accent: orange

@media (prefers-color-scheme: dark)
	body[data-theme=default]
		@include dark

@media (prefers-color-scheme: light)
	body[data-theme=default]
		@include light

body[data-theme=dark]
	@include dark

body[data-theme=light]
	@include light

// just plugging in random colors
body[data-theme=lol]
	@include generator(#A1C084, #659157, #69A2B0, #fff, #FFCAB1)
	--color-accent: red