// this is bad now
:root
	--color-sidebar: #ffffff
	--color-topbar: #f5f5f5
	--color-topbar-button: #f5f5f5
	--color-topbar-button-hover: #e5e5e5
	--color-account-selection-interface: #f5f5f5
	--color-post-background: #ffffff
	--color-comment-hover: #f5f5f5
	--color-comment: #ffffff